each decl in declarations 
    | !{decl}
    |
| canvas_set_bitmap_mode(canvas, true);
|
if settings.wrap
    | void draw(Canvas* canvas) {
- var font = ''
each layer in layers 
    case layer.type
        when 'dot'
            | @!{layer.id};canvas_draw_dot(canvas, !{layer.x}, !{layer.y});
        when 'line'
            | @!{layer.id};canvas_draw_line(canvas, !{layer.x1}, !{layer.y1}, !{layer.x2}, !{layer.y2});
        when 'rect'
            - var func = layer.fill ? 'canvas_draw_box' : 'canvas_draw_frame'
            | @!{layer.id};!{func}(canvas, !{layer.x}, !{layer.y}, !{layer.w}, !{layer.h});
        when 'circle'
            - var func = layer.fill ? 'canvas_draw_disc' : 'canvas_draw_circle'
            | @!{layer.id};!{func}(canvas, !{layer.x}, !{layer.y}, !{layer.r});
        when 'string'
            if layer.font != font
                - font = layer.font
                | canvas_set_font(canvas, !{layer.font});
                |
            | @!{layer.id};canvas_draw_str(canvas, !{layer.x}, !{layer.y}, "!{layer.text}");
        when 'paint'
            | @!{layer.id};canvas_draw_xbm(canvas, !{layer.x}, !{layer.y}, !{layer.w}, !{layer.h}, !{layer.imageName});
        when 'icon'
            | @!{layer.id};canvas_draw_icon(canvas, !{layer.x}, !{layer.y},  &I_!{layer.imageName});
        default 
            |
            | // Unknown layer type !{layer.type}
            |
    |
    |
if settings.wrap
    | }