| use embedded_graphics::prelude::*;
| use embedded_graphics::pixelcolor::BinaryColor;
| use embedded_graphics::mono_font::{ascii::FONT_6X10, MonoTextStyle};
| use embedded_graphics::primitives::{Circle, Ellipse, Line, Polyline, PrimitiveStyle, Rectangle, Triangle};
| use embedded_graphics::text::{Baseline, Text};

each layer in layers
    if layer.type == 'polygon'
        - var polygonPoints = layer.points.map((point) => `        Point::new(${point[0]}, ${point[1]}),`)
        if layer.points.length
            - polygonPoints.push(`        Point::new(${layer.points[0][0]}, ${layer.points[0][1]}),`)
        |
        | fn !{layer.functionName}<D: DrawTarget<Color = BinaryColor>>(
        |     display: &mut D,
        | ) -> Result<(), D::Error> {
        |     let !{layer.pointsVarName} = [
        | !{polygonPoints.join('\n')}
        |     ];
        |     Polyline::new(&!{layer.pointsVarName})
        |         .into_styled(PrimitiveStyle::with_stroke(!{layer.color}, 1))
        |         .draw(display)?;
        |     Ok(())
        | }
        |
|
- var pad = settings.wrap ? '    ' : ''
| fn draw!{screenTitle}<D: DrawTarget<Color = BinaryColor>>(
|     display: &mut D,
| ) -> Result<(), D::Error> {
|

if settings.declare_vars
    each decl in declarations
        if decl.type == 'var'
            if decl.data.type === 0
                | !{pad}let !{decl.data.name} = "!{decl.data.value}";
            else
                | !{pad}let !{decl.data.name} = !{decl.data.value};
            |
|
each layer in layers
    if settings.comments
        | !{pad}// !{layer.name}
    case layer.type
        when 'line'
            | @!{layer.uid};!{pad}Line::new(Point::new(!{layer.x1}, !{layer.y1}), Point::new(!{layer.x2}, !{layer.y2}))
            | !{pad}    .into_styled(PrimitiveStyle::with_stroke(!{layer.color}, 1))
            | !{pad}    .draw(display)?;
            |
        when 'rect'
            - var style = layer.fill ? `PrimitiveStyle::with_fill(${layer.color})` : `PrimitiveStyle::with_stroke(${layer.color}, 1)`
            | @!{layer.uid};!{pad}Rectangle::new(
            | !{pad}    Point::new(!{layer.x}, !{layer.y}),
            | !{pad}    Size::new(!{layer.w}, !{layer.h}),
            | !{pad})
            | !{pad}    .into_styled(!{style})
            | !{pad}    .draw(display)?;
            |
        when 'circle'
            - var style = layer.fill ? `PrimitiveStyle::with_fill(${layer.color})` : `PrimitiveStyle::with_stroke(${layer.color}, 1)`
            | @!{layer.uid};!{pad}Circle::new(
            | !{pad}    Point::new(!{layer.position[0]}, !{layer.position[1]}),
            | !{pad}    !{layer.radius * 2},
            | !{pad})
            | !{pad}    .into_styled(!{style})
            | !{pad}    .draw(display)?;
            |
        when 'ellipse'
            - var style = layer.fill ? `PrimitiveStyle::with_fill(${layer.color})` : `PrimitiveStyle::with_stroke(${layer.color}, 1)`
            | @!{layer.uid};!{pad}Ellipse::new(
            | !{pad}    Point::new(!{layer.position[0]}, !{layer.position[1]}),
            | !{pad}    Size::new(!{layer.rx * 2}, !{layer.ry * 2}),
            | !{pad})
            | !{pad}    .into_styled(!{style})
            | !{pad}    .draw(display)?;
            |
        when 'triangle'
            - var style = layer.fill ? `PrimitiveStyle::with_fill(${layer.color})` : `PrimitiveStyle::with_stroke(${layer.color}, 1)`
            | @!{layer.uid};!{pad}Triangle::new(
            | !{pad}    Point::new(!{layer.x1}, !{layer.y1}),
            | !{pad}    Point::new(!{layer.x2}, !{layer.y2}),
            | !{pad}    Point::new(!{layer.x3}, !{layer.y3}),
            | !{pad})
            | !{pad}    .into_styled(!{style})
            | !{pad}    .draw(display)?;
            |
        when 'string'
            - var textContent = layer.isTextVariable ? layer.text : `"${layer.text}"`
            | @!{layer.uid};!{pad}Text::with_baseline(
            | !{pad}    !{textContent},
            | !{pad}    Point::new(!{layer.x}, !{layer.y}),
            | !{pad}    MonoTextStyle::new(&FONT_6X10, !{layer.color}),
            | !{pad}    Baseline::Top,
            | !{pad})
            | !{pad}    .draw(display)?;
            |
        when 'polygon'
            | @!{layer.uid};!{pad}!{layer.functionName}(display)?;
            |
        when 'paint'
            | !{pad}// Paint layers are not supported on embedded-graphics yet.
            |
        when 'icon'
            | !{pad}// Image layers are not supported on embedded-graphics yet.
            |
        default
            | !{pad}// Unknown layer type !{layer.type}
            |
|
| !{pad}Ok(())
| }